[submodule "metal-cpp"]
	path = submodules/metal-cpp
	url = git@github.com:bkaradzic/metal-cpp.git
[submodule "Repulsor"]
	path = submodules/Repulsor
	url = git@github.com:HenrikSchumacher/Repulsor.git
