<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>154</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>153</string>
					<key>Timestamp</key>
					<string>744223195.903757</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>src/Helmholtz_Common/FarField.hpp</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        mptr&lt;C_ext&gt; du_dn, //du_dn is the Neumann data of the scattered wave
</string>
				<key>leading</key>
				<string>        cptr&lt;R_ext&gt; inc_directions,
        const I_ext wave_chunk_size_,
</string>
				<key>trailing</key>
				<string>        const WaveType type,
        const R_ext cg_tol,
        const R_ext gmres_tol
</string>
			</dict>
			<key>title</key>
			<string>inc_coeff</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>87</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>86</string>
					<key>Timestamp</key>
					<string>744223195.9040149</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>src/Helmholtz_Common/FarField.hpp</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>     * @param cg_tol  Tolerance for the CG-solver to invert the mass matrix.
</string>
				<key>leading</key>
				<string>     * @param type Flag specifying if the incoming wave is radial or planar.
     * @param eta Coupling parameter for integral equations.
</string>
				<key>trailing</key>
				<string>     * @param gmres_tol Tolerance for the GMRES-solver to solve the boundary integral equations.
     */
    template&lt;Int WC = VarSize, typename I_ext, typename R_ext, typename C_ext&gt;
</string>
			</dict>
			<key>title</key>
			<string>inc_coeff</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
