<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>286</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>285</string>
					<key>Timestamp</key>
					<string>743768851.511007</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>src/Helmholtz_Common/FarField.hpp</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        if( du_dn == nullptr )
</string>
				<key>leading</key>
				<string>        }

</string>
				<key>trailing</key>
				<string>        {
            Tensor2&lt;C_ext,Int&gt; inc_wave ( n, wc );  //weak representation of the incident wave
            
</string>
			</dict>
			<key>title</key>
			<string>Handle pdu_dn == nullptr</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>160</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>159</string>
					<key>Timestamp</key>
					<string>743768846.973675</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>src/Helmholtz_Common/FarField.hpp</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        if( du_dn == nullptr )
</string>
				<key>leading</key>
				<string>        Tensor1&lt;R_ext,Int&gt;  X_n           ( n );
        
</string>
				<key>trailing</key>
				<string>        {
            logprint( tag + ": du_dn == nullptr. Allocating and computing du_dn.");
            
</string>
			</dict>
			<key>title</key>
			<string>Handle pdu_dn == nullptr</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>184</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>183</string>
					<key>Timestamp</key>
					<string>743768846.973703</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>src/Helmholtz_Common/FarField.hpp</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            DirichletToNeumann&lt;WC&gt;( kappa_, inc_wave.data(), du_dn, wcc, wcs, cg_tol, gmres_tol );
</string>
				<key>leading</key>
				<string>            );
            
</string>
				<key>trailing</key>
				<string>            
        }

</string>
			</dict>
			<key>title</key>
			<string>Hier kommt für du_dn nur 0 herraus.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
